.navbar-dark {
    background: #001524;
}

.nav-link {
    color: #64ffda !important;
}

main {
    display: flex;
    padding-bottom: 25em;
    max-width: 80%;
}

body {
    background: #0a192f;
}

.social {
    position: fixed;
    top: 80vh;
}

.headCont {
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12vw;
}

.intro1 {
    color: #64ffda;
    font-family: Helvetica, sans-serif;
}

.myName {
    color: #ccd6f6;
}

.welcome {
    color: #a8b2d1;
}

.myImageContainer {
    width: 42%;
    margin-top: 10vh;
    margin-left: 2em;
    margin-bottom: 20em;
}

.myImage {
    width: 45em;
    border-radius: 0.5em;
    max-width: 100%;
    height: auto;
}

.p-div {
    padding-left: 0.3em;
    width:23em;
}

.p-div {
    color: #8892b0;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #001219;
    margin-left: 18vw;
    border-radius: 0.5em;
    height: 20em;
    width: 60vw;
}

.skill-header {
    margin-top: 3em;
    margin-left: 4.5em;
    color: #64ffda;
}

.skill-positioning {
    margin-top: 3.8em;
    margin-left: 6em;
    color: #a8b2d1;
    overflow-wrap: break-word;
    margin-right: 2em;
}

.projects-container {
    margin-top: 6em;
    margin-left: 18vw;
    padding-right: 0px;
}

.project-card {
    background-color: #a8b2d1;
    border-radius: 0.3em;
    width: 60vw;
}

.projectsh1 {
    margin-top: 10em;
    margin-left: 16.5vw;
    color: #64ffda;
}

.project-title {
    padding-top: 5px;
    padding-left: 5px;
}

.project-text {
    padding-left: 15px;
}

@media only screen and (max-width: 600px) {
    .headCont {
        margin-left: -25px;
        width: 95vw;
    }
    .container2 {
        height: 30em;
        width: 65vw;
    }
    .skill-header {
        margin-left: 2.5em;
    }
    .skill-positioning {
        margin-left: 2.5em;
    }
    .project-card {
        width: 75vw;
    }
    .myImageContainer {
        margin-bottom: 8em;
        width: 60vw;
    }
    .container2 {
        margin-left: 20vw;
    }
    .projects-container {
        margin-left: 20vw;
        margin-top: 2em;
        width: 70vw;
    }
    .projectsh1 {
        margin-left: 25vw;
        margin-top: 4em;
    }
    .p-div {
        width: 70vw;
    }
    main {
        max-width: 80%;
    }
    #home-section {
        max-width: 90%;
    }
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

a {
    color: black;
}

.no-margin {
    margin-right: 0px;
}

#home-section {
    
}