.navbar-dark {
    background: #001524;
}

.nav-link {
    color: #64ffda !important;
}

main {
    display: flex;
}

body {
    background: #0a192f;
}

.social {
    position: fixed;
    top: 32em;
}


.headCont {

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.intro1 {
    color: #64ffda;
    font-family: Helvetica, sans-serif;
}

.myName {
    color: #ccd6f6;
}

.welcome {
    color: #a8b2d1;
}

.myImageContainer {
    width: 25em;
}

.myImage {
    width: 20em;
    border-radius: 0.5em;
    max-width: 100%;
    height: auto;
}
